bin/ # bin order soll ignoriert werden
# bin/Debug/ obsolete weil bin/
beispiel.txt # hätte ich diese datei würde sie ignoriert werden

# whitelisting (alles wird ignoriert außer egal.txt
# ! -> ist wichtig, sonst wird die date egal.txt ignoriert und alles ander nicht
# !bin/egal.txt

# markdown
*.md


